
body {
  padding: 0px;
  margin: 0px;
}

p {
  font-size: 14px;
  color: gray;
}



h5 {
  color:white;
  padding: 3px;
}

#map,
body,
html {
  height: 100%;
  width: 100%
}

.panel {
  margin-bottom: 20px;
}

.panel-heading {
  background-color:rgb(202, 199, 199);
  text-align:center;
  border-bottom-style: solid;
}

.panel-body {
  padding: 7px;
}

.panel-title {
  font-size:20px;
}

.jumbotron {
  margin-bottom: 20px;
  padding: 10px;
}

#map-container-fluid {
  position: relative;
  height: 450px;
  width: 100%;
  margin-bottom: 30px;
  border-bottom-color: gray;
  border-bottom-width: 4px;
}

#map-frame,
 .panel {
  height: inherit;
  width: inherit;
  position: relative;
  border-style: solid;
  border-color: gray;
  border-width: 4px;
}

.description {
  margin-top: 10px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  width:fit-content;
  height:fit-content;
  padding: 2px;
}

#map {
  position: relative;
  height: 100%;
  width: 100%;
}

.legend {
  line-height: 18px;
  color: gray;
  padding: 4px;
  opacity: 0.8;
  background-color:white;
  border-style: solid;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}

#bar-chart, #scatter-plot {
  margin-bottom: 50px;
}
